# Ambiente virtual
venv/
env/

# Arquivos Python compilados
__pycache__/
*.pyc
*.pyo

# Arquivos de configuração do editor de código
.vscode/

# Arquivos de log
*.log

# Arquivos temporários
*.bak
*.swp

# Ignorar todos os arquivos .db
*.db

# Incluir arquivos .db específicos nas pastas de banco de dados
!dados/



# Dependências do sistema operacional
.DS_Store
